
@media print
{
    body :not(.print)
    {
        display: none;
    }
}

.my_box
{
    position: relative;
    float: left;
    width: 48%;
    margin: 0.5%;
}

.my_table_cell
{
    div {
        position: relative;
        float: left;
    }
}

.line_title
{
    width: 150px;
}


.flow_window
{
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sub_window
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, 0.8);
}

.sub_hide
{
    display: none;
}



.dragTest
{
    position: relative;
    text-align: center;
    line-height: 10em;

    margin: auto;
    width: 40%;
    height: 200px;
    border: solid 1px gray;
    border-radius: 2px;
    background-color: rgba(220,220,220, 1);
}


.button_link
{
    color: white;
    text-decoration: none;
}




/**
:: Layout
**/

.LayoutBase
{
    position    : relative;
    float       : left;
    width       : 65%;
    min-width   : 800px;
    height      : 100%;
    min-height  : 600px;
    max-height  : 1000px;
    border      : solid 2px rgba(150,150,150,1);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(200,200,200,1);
    padding     : 0;
    overflow-y  : hidden;
    overflow-x  : hidden;
    cursor      : pointer;
}

.LayoutBaseExcell
{
    position    : relative;
    float       : left;
    width       : 65%;
    min-width   : 800px;
    height      : 100%;
    min-height  : 600px;
    max-height  : 1000px;
    border      : solid 2px rgba(150,150,150,1);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(200,200,200,1);
    padding     : 20px;
    overflow-y  : scroll;
    overflow-x  : hidden;
    cursor      : pointer;
}

.LayoutScreen{
    height: 100%;
}
.LayoutScreen > svg,
.LayoutScreen > img
{
    position: absolute;
}
.LayoutSub
{
    width: 25%;
    min-width: 400px;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
}
.LayoutTexts
{
    margin: 0px 25px 0px 0px;
    height: 60%;
    overflow-y: scroll;
}

.LayoutTemplate
{
    margin: 25px 0px;
    height: 60%;
    overflow-y: scroll;
}

.LayoutGroup
{
    margin: 25px 0px 0px 0px;
    height: 60%;
    overflow-y: scroll;
}


/**
Directionality
**/
.message-list{
    width: 300px;
    height: 400px;

    border: solid 1px gray;
    border-radius: 10px;
    overflow-y: scroll;
}
.message-content {
    width: 200px;
    list-style: none;
    border-bottom: solid 1px gray;
    margin: 10px 0px;
}

.user-list {
    position: absolute;
    top: 180px;
    left: 350px;
    width: 250px;
    height: 250px;
    border: solid 2px rgba(100,100,100, 0.4);
    border-radius: 5px;
}
.user-list > div {
    cursor: pointer;
}
.user-list > div:hover {
    background-color: rgba(150,150,150,0.2);
}